// Портофлио

.portfolio-container {
    padding: 94px auto;
    // margin: 0 auto;
  }
  
  .portfolio-nav__list {
    display: flex;
    justify-content: center;
  }
  
  .portfolio-nav__item {
    padding: 6px 22px;
    color: #2196f3;
    border-radius: 4px;
  }
  .portfolio-nav__button {
    padding: 6px 22px;
    font-style: medium;
    font-size: 16px;
  
    border-radius: 4px;
  
    &:hover {
      color: $white-color;
      background-color: $hover-color;
    }
  
    &:not(:first-child) {
      margin-left: 8px;
    }
  }
  
  // PORTFOLIO GRID
  
  .portfolio-grid {
    display: flex;
  
    flex-wrap: wrap;
  
    width: 1170px;
    padding-top: 50px;
    margin: 0 auto;
  }
  .portfolio-grid__item {
    // width: calc(100%-5%) / 3;
  
    margin-right: 30px;
    margin-bottom: 30px;
  }
  
  .portfolio-grid__item:nth-child(3n) {
    margin-right: 0px;
  }
  
  .portfolio-grid__item:nth-last-child(-n + 3) {
    margin-bottom: 0px;
  }
  
  .portfolio-grid__name {
    font-style: Bold;
    font-size: 18px;
    line-height: 2;
  }
  
  .portfolio-grid__description {
    font-style: Regular;
    font-size: 16px;
    line-height: 1.875;
    color: #757575;
  }
  
  .portfolio-grid__image {
    position: relative;
    overflow: hidden;
  }
  .portfolio-grid__background-image {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #ffffff;
    text-align: center;
    align-items: center;
    /* padding: 63px 24px; */
  
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .portfolio-grid__image:hover .portfolio-grid__background-image {
    transform: translateY(0);
  }