// Цвета:
// Просто цвета
$white-color: #ffffff;
$blue-color: #2196f3;

// Цвета текста
$text-white-color: #ffffff;
$text-blue-color: #2196f3;

$main-gray-color: #757575;

$hover-color: #2196f3;

// Баттон
$button-background-color: #2196f3;
$button-color: #ffffff;

// Футер
$footer-color: #ffffff;
$footer-background-color: #2f303a;
